@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-container {
  @apply flex flex-col;
}

.menu-title {
  @apply font-medium text-sm text-gray-500 tracking-wide;
}

.menu-items {
  @apply flex flex-col gap-y-3 mt-1.5;
}

.menu-item {
  @apply flex items-center justify-between;
}

.menu-item-title {
  @apply text-white text-sm;
}

.menu-item-container {
  @apply flex items-center gap-x-1.5;
}

.increment-decrement-btn {
  @apply w-20 bg-gray-800 h-7 rounded-md divide-x divide-gray-700 flex items-center;
}

.increment-btn,
.decrement-btn {
  @apply flex-1 focus:outline-none text-white disabled:opacity-50;
}

.editor {
  counter-reset: line;
}

.editor #codeArea,
.editor pre {
  padding-left: 60px !important;
}

.editor .editorLineNumber {
  position: absolute;
  left: 0px;
  color: #cccccc;
  text-align: right;
  margin-left: 20px;
  font-weight: 100;
}
